$def with (content, err = 0)
$var title: تائید ثبت نام

<article id="confirm">
    <center>
    <form method="POST" enctype="multipart/form-data" action="" class="form">
        <center><b><label>تایید ثبت نام</label></b></center>
        $if err:
            <p style="color: red"><b>رمز عبور مطابقت ندارد!</b></p>

        <textarea cols=47 rows=6 style="background: gray" readonly name="token" >
            $content
        </textarea><br/>

        <label for="passwd">رمز*:</label>
        <input type="password" name="passwd"><br/>

        <input type="submit" value="تائید">
    </form>
    </center>

</article>
