$def with (data)
$var title: حساب کاربری

<article id="accounts">
    $# if not logged in, redirect to login, else, to accounts page
    <center>
    <table cellpadding="0" cellspacing="0" class="default">
    <tbody>
        <tr class="zero">
        <th class="leftmost">#</th>
        <th>نام کامل</th>
        <th>نام کاربری</th>
        <th>تاریخ عضویت</th>
        <th>ایمیل</th>
        <th>ارسال ها</th>
        <th>ارسال ها</th>
        </tr>
    $for i in data:
        <tr class="$loop.parity">
            <td><a href="/accounts/$i.uid">$i.uid</a></td>
            <td>$i.realname</td>
            <td>$i.username</td>
            <td>$i.created</td>
            $# FIXME: make the email spam proof
            $code:
                addr  = i.email.split('@')[0] + '+NOSPAM@' + i.email.split('@')[1]
                email = i.email.split('@')[0] + ' [at] ' + i.email.split('@')[1]
            <td><a href="mailto:$addr">$email</a></td>
            $# FIXME: some process to count shoots, accepted and total
            <td><a href="/accounts/status/$i.uid">لیست</a></td>
            <td><a href="/accounts/status/$i.uid">لیست</a></td>
        </tr>
    </tbody>
    </table>
    </center>
</article>
