$dev with (err = 0)
$var title: ورود

<article id="login">
    <center>
    <form method="POST" enctype="multipart/form-data" action="" class="form">
        <center><b><label>ورود</label></b></center>
        $if err:
            <p style="color: red"><b>Access Denied!</b></p> $# FIXME: translate

        <label for="uname">نام کاربری:</label>
        <input type="text" name="uname"><br/>

$#      <label for="email">:</label>
$#      <input type="text" name="email"><br/>
        $# ask username or email?

        <label for="passwd">رمز:</label>
        <input type="password" name="passwd"><br/>

        <input type="submit" value="ﻭﺭﻭﺩ">
    </form>
    </center>
</article>
