$def with (err = 0, identity = None)
$var title: ورود

<article id="login">
    <center>
    <form method="POST" action="" class="form">
        <center><b><label>ورود</label></b></center>
        $if err:
            <p style="color: red"><b>رمز ورود اشتباه است!</b></p>

        <label for="identity">نام کاربری یا ایمیل:</label>
        $code:
            if identity is None:
                identity = '"gol_agha, gol@abdar.khane'
        <input type="text" name="identity" id="identity" value="$identity"
            class="gray" onclick="clicked(this)" autofocus required><br/>

        <label for="passwd">رمز:</label>
        <input type="password" name="passwd" id="passwd" required><br/>

        <input type="submit" id="login" value="ﻭﺭﻭﺩ">
    </form>
    </center>
</article>
