$var title: ثبت نام

<article id="register">
    <center>
    <form method="POST" enctype="multipart/form-data" action="" class="form">
        <center><b><label>فرم ثبت نام</label></b></center>

        <label for="fname">نام کامل*:</label>
        <input type="text" name="fname" value="گل آقا" 
            class="gray" onclick="clicked(this)"><br/>

        <label for="uname">نام کاربری*:</label>
        <input type="text" name="uname" value='گل_آقا, gol-agha' 
            class="gray" onclick="clicked(this)"><br/>
        $# check availability + maybe we can delete this and work just with email

        <label for="email">ایمیل*:</label>
        <input type="email" name="email" value="gol@abdaar.khaane" 
            class="gray" onclick="clicked(this)"><br/>

        <label for="email_confirm">بازم ایمیل*:</label>
        <input type="email" name="email_confirm" value="gol@abdaar.khaane" 
            class="gray" onclick="clicked(this)"><br/>
        $# check that they match

        <label for="passwd">رمز*:</label>
        <input type="password" name="passwd"><br/>
        $# disable this, send an email with confirmation link, set it later

        $# terms of use check?

        <input type="submit" value="ثبت نام">
    </form>
    </center>
</article>
