$var title: Shoot

<div class="content" id="shoot">
<div id="inputArea">
    <form method="POST" enctype="multipart/form-data" action="" class="form"><br />
        <input type="text" name="uid" value=0 /> <br />
        <input type="text" name="pid" value=0 /> <br />
        <input type="text" name="cid" value=0 /> <br />
        <input type="file" name="code" /> <br />
        <input type="text" name="lang" value='cpp' /> <br />
        <input type="submit" value="shoot" />
    </form>
</div>
</div>
