table {
    text-align: center;
    width: 65%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    border-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    font-size: small;
}

td {
    border-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: gray;
    border-style: solid;
    padding: 5px;
}

td.yes {
    background-color: lightgreen;
}

td.no {
    background-color: #FF9999;
}

th {
    border-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: gray;
    border-style: solid;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}
