@import "home.css";
@import "form.css";
@import "course.css";
@import "algorithm.css";
@import "problem.css";
@import "contest.css";

table {
    text-align: center;
    width: 65%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    border-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    font-size: small;
}

td {
    border-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: gray;
    border-style: solid;
    padding: 5px;
}

th {
    border-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: gray;
    border-style: solid;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

.content {
    font-family: sans-serif;
    font-weight: normal;

    text-align: center;
}

.content a {
    text-decoration:none;
}

.content#shoot {
    position:absolute;
    width:auto;
    height:auto;
    left:0px;
    right:0px;
    top:100px;
}

.content#status {
    position:absolute;
    width:auto;
    height:auto;
    left:0px;
    right:0px;
    top:100px;
}

.content#default {
    position:absolute;
    width:auto;
    height:auto;
    left:0px;
    right:0px;
    top:100px;
}

.content#home {
    position:absolute;
    left:0px;
    right:0px;
    width:auto;
    top:32px;
    bottom:0px;
    height:auto;
}

.content#login {
    position:absolute;
    width:800px;
    height:400px;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-200px;
}
.content#register {
    position:absolute;
    width:800px;
    height:420px;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-200px;
}

.content header {
    font-family: persian-modern, Tahoma;
    font-weight:bold;
    font-size:24px;
    top: 64px;
    position: relative;
}

#alert {
    color:red;
    text-align:center;
}
