@import "home.css";
@import "form.css";
@import "course.css";
@import "algorithm.css";
@import "problem.css";
@import "contest.css";
@import "accounts.css";

article {
	position: relative;
    top: 30px;
    left: 0px;
    right: 0px;

    width:auto;
    height:auto;

    text-align: center;
}

article#err {
    font-family: sans-serif;
}

article#home {
    position: relative;
    top: 20;
}

article#shoot {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
}

article#status {
    font-family: sans-serif, persian-modern;
    font-weight: normal;
	font-size: 12px;

    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
}

article#login {
    position:absolute;
    width:800px;
    height:400px;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-200px;
}

article#register {
    position:absolute;
    width:800px;
    height:420px;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-200px;
}

header {
    font-family: persian-modern, Tahoma;
    font-weight:bold;
    font-size:24px;
    top: 64px;
    position: relative;
}

.content a {
    text-decoration:none;
}
