@import "home.css";
@import "form.css";
@import "course.css";
@import "algorithm.css";
@import "problem.css";
@import "contest.css";
@import "accounts.css";

article {
    position: relative;
    top: 30px;
    left: 0px;
    right: 0px;

    width:auto;
    height:auto;

    text-align: center;
}

article#err404 {
    font-family: sans-serif;
    font-weight: normal;
}

article#home {
    position: relative;
    top: 20;
}

article#shoot {
    position: absolute;
    top: 100px;
}

article#status {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;

    position: absolute;
    top: 100px;
    width: auto;
    height: auto;
}

article#accounts {
    font-family: sans-serif;
    font-weight: normal;
}

article#accounts tr.zero {
    font-family: persian-modern;
    font-weight: normal;
}

article#login, article#register, article#accounts {
    position:absolute;
    top: 100px;
}

header {
    font-family: persian-modern, Tahoma;
    font-weight: bold;
    font-size: 24px;
    top: 64px;
    position: relative;
}

.content a {
    text-decoration:none;
}
