.form {
	vertical-align:middle;
	background: rgba(250,250,250,0.5);
	border:dashed;
	border-color: rgba(0, 0, 0, 0.2);
	border-radius:10px;
	position:relative;
	left:25%;
	right:25%;
	width:50%;
	text-align: right;
}

.form b {
	font-weight:normal;
	position:relative;
	right: 16px;
	height:400px;
}

.form input[type="button"], #inputArea input[type="submit"] {
	transition: background 0.5s ease-in-out,
                color 0.5s ease-in;
	-webkit-transition: background 0.5s ease-in-out,
                        color 0.5s ease-in;
	
	background: rgba(0,0,0,0.7);

	font-family: sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: white;

	width: 50px;
	height: 25px;
    border: dotted;
    border-width: 1px;
	border-radius: 5px;

    float: right;
}

.form input[type="button"]:hover, #inputArea input[type="submit"]:hover {
	background:rgba(0,0,0,0.9);
}

.form input[type="button"]:active, #inputArea input[type="submit"]:active {
	-webkit-transition: color 0s ease-in;
	transition: color 0s ease-in;
	
	color:hsla(42, 100%, 60%, 1);
}

.form input[type="text"] {
	position:absolute;
	left:16px;
	width:200px;
	border:line;
	border-color:rgba(0,0,0,0.2);
	border-radius:3px;
    clear: both;
}

.form input[type="file"] {
	position:absolute;
	left:16px;
	width:200px;
    clear: both;
}

input[type="password"] {
	position:absolute;
	left:16px;
	width:200px;
	border:line;
	border-color:rgba(0,0,0,0.2);
	border-radius:3px;
}

#inputArea {
    font-weight:normal;
	position:relative;
    height:280px;
	right: 4%;
}

#inputArea input[type="text"], #inputArea input[type="password"], #inputArea input[type="file"] {
    position:relative;
	right:46%;
	width:46%;
    padding-bottom:4px;
	border:line;
	border-color:rgba(0,0,0,0.2);
	border-radius:3px;
    display: block;
}

#inputArea input[id="id_math_captcha_field"] {
    right:0%;
}

#inputArea label[for="id_math_captcha_field"] {
    direction:ltr;
    text-align:left;
    margin-left:8%;
    padding-top:4px;
}

#inputArea label[for="id_username"] {
    margin-top:8px;
}

#inputArea input[type="submit"], #inputArea label {
    display:block;
}

#inputArea input[type="submit"] {
    margin-top:8px;
    aright:0%;
}
