.bigblock {
    position: relative;
    left: 0px;
    right: 0px;
    width: 500px;
    height: 500px;
}

.column {
    width: 250px;
    height: 500px;

    display: block;
}

.column#left {
    position: absolute;
    left: 0px;
}

.column#right {
    position: absolute;
    right: 0px;
}

.block {
    width: 230px;
    height: 230px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

/*  display: table-cell; What is this? */

    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
}

.block#top {
    position: absolute;
    top: 0px;
}

.block#bottom {
    position: absolute;
    bottom: 0px;
}

.button {
    width: 192px;
    height: 192px; 
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;

    transition: width 0.5s ease-in-out,
                height 0.5s ease-in-out,
                padding-top 0.5s ease-in-out,
                padding-left 0.5s ease-in-out,
                padding-right 0.5s ease-in-out,
                padding-bottom 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out,
                        height 0.5s ease-in-out,
                        padding-top 0.5s ease-in-out,
                        padding-left 0.5s ease-in-out,
                        padding-right 0.5s ease-in-out,
                        padding-bottom 0.5s ease-in-out;
}

.button:hover {
    width: 200px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
