@import "content.css";

@font-face {  
    font-family: persian-modern;
    src: url( /static/fonts/persian-modern-regular.ttf ) format("truetype");
}

.horizontal_line{
	border: dashed;
	width: 50%;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0.1);
}
.body {
	text-align: center;
	background-image: url('../img/stdback.png');
	background-repeat: repeat;
    clear: both;
}
.panel {
    font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	position: relative;
	visibility: visible;
	margin-top:-14px;
	margin-right:-8px;
	margin-left:-10px;
	height: 36px;
	width: auto;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: auto;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;	
	transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;
}
.panel:hover {
	background-color: rgba(0, 0, 0, 0.9);
}
.title {
	margin-top:-14px;
	top:24px;
	right:0px;
	left:0px;
	width:auto;
	position:absolute;
}
.nav {
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: right;
	visibility: visible;
	position: absolute;
	right: 16px;
	top: 0px;
	margin-top:4px;
	width: 50%;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
}
.nav_button {
	width:32px;
	height:32px;
	position: static;
	opacity: 0.8;
	
	-webkit-transition: opacity 0.35s ease-in-out;
	-moz-transition: opacity 0.35s ease-in-out;
	-o-transition: opacity 0.35s ease-in-out;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out; 
}
.nav_button:hover {
	opacity: 1;
}
.extpanel{
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: left;
	visibility: visible;
	position: absolute;
	top: 0px;
	margin-top:4px;
	left: 16px;
	width: 50%;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	opacity: 1.f;
	
	-webkit-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, top 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; 
}
.extpanel_invis {
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: left;
	visibility: visible;
	position: absolute;
	top: 32px;
	margin-top:4px;
	left: 16px;
	width: 50%;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	opacity: 0;

	-webkit-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, top 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; 
}
.session {
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: left;
	visibility: visible;
	position: absolute;
	top: 0px;
	margin-top:4px;
	left: 16px;
	width: 50%;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	opacity:1;
	
	-webkit-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, top 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; 
}
.session_invis {
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: left;
	visibility: visible;
	position: absolute;
	top: 16px;
	margin-top:4px;
	left: 16px;
	width: 50%;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	opacity:0;
	
	-webkit-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, top 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; 
}
.session_uname {
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: left;
	visibility: visible;
	position:absolute;
	top: 4px;
	margin-top:4px;
	left:128px;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
}
.session_notifier{
	font-family: persian-modern, Arial, Helvetica, sans-serif;
	background: solid;
	background-color: rgba(255, 130, 0, 0.8);
	color: #FFF;
	text-align: center;
	visibility: visible;
	position:absolute;
	width:24px;
	border-radius:4px;
	border:none;
	top: 0px;
	margin-top:4px;
	left:84px;
	height: 24px;
	font-size: 14px;
	font-weight: bold;
	opacity:0.8;
	
	-ms-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.session_notifier:hover {
	opacity:1;
}

.main {
	font-family: persian-modern, Tahoma, Geneva, sans-serif;
	background-color: #FFF; opacity:1
	border: medium inset #FFF;
	vertical-align:middle;
}

.tooltip#panel_tooltip{
	position:absolute;
	right:16px;
	top:20px;
}

.tooltip_visible#panel_tooltip{
	right:16px;
	top:20px;
	position:absolute;
}

.copyright {
	font-family: Arial, persian-modern, Tahoma;
	color:rgba(0, 0, 0, 0.4);
	font-size:9px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
/*    position: relative;
    top: 590px;*/
}

.main_section {
	border-radius:15px;
}

.panel_searchbox {
	position:absolute;
	right:288px;
	top:3px;
	border:line;
	border-color:rgba(0,0,0,0.2);
	border-radius:3px;
	width:96px;
	height:18px;
	color:rgba(0,0,0,0.6);
	opacity:0.8;
	direction:rtl;
	
	-ms-transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, color 0.5s ease-in-out; 
	-webkit-transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, color 0.5s ease-in-out; 
	-moz-transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, color 0.5s ease-in-out; 
	-o-transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, color 0.5s ease-in-out; 
	transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, color 0.5s ease-in-out; 
}

.panel_searchbox:hover {
	width:192px;
	color:rgba(0,0,0,0.6);
	opacity:0.9;
}

.panel_searchbox:focus {
	width:192px;
	color:rgba(0,0,0,1);
	opacity:1;
}
