@import "content.css";
@import "panel.css";

@font-face {  
    font-family: persian-modern;
    src: url( /static/font/persian-modern-regular.ttf ) format("truetype");
}

body {
    background-image: url('/static/img/stdback.png');
    background-repeat: repeat;

    font-family: persian-modern;
    font-weight: bold;
    font-size: 14px;

    text-align: center;
}

#copyright {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;

    font-family: Arial, persian-modern;
    font-size: 9px;

    opacity: 0.4;
}
