body {
    background-color: black;
}

#logo {
	cursor:pointer;
	font-family: monospace;
}

#logo-left {
	color: white;
	background-color:#000;
	border:1.5px    solid #FFF;
	border-top-left-radius: 8px;
	
	padding-top:8px;
	padding-bottom:8px;
}

#logo-right {
	color: black;
	background-color:#FFF;
	border:1.5px    solid #FFF;
	border-bottom-right-radius: 8px;
	
	padding-top:8px;
	padding-bottom:8px;
}

#body {
	color: gray;
	width: 500px;
	height: 220px;
	font-family: monospace;
	background-color: black;
	border:1.5px 	solid gray;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

a {
	color: white;
	text-decoration: none;
}

#body a:hover { 
	color: #CCC;
	background-color: #333;
}
