$def with (data)
$var title: Status

<div id="content" class="default">
<center>
<table cellpadding="0" cellspacing="0" class="default">
<tbody>
    <tr class="zero">
        <th class="leftmost">#</th>
        <th>user</th>
        <th>problem</th>
        <th>lang</th>
        <th>date</th> 
        <th>status</th>
        <th>time</th>
        <th>mem</th>
    </tr>
$for x in data:
    <tr class="odd">
        <td><a href="/algorithm/status/$x.subid">$x.subid</a></td>
        <td><a href="/accounts/status/$x.uid">$x.uid</a></td>
        <td><a href="/problem/status/$x.pid">$x.pid</a></td>
        <td>$x.lang</td>
        <td>$x.created</td>
        <td><a href="/algorithm/status/$x.subid" class="unreal">stat</a></td>
        <td>time</td>
        <td>mem</td>
    </tr>
</tbody>
</table>
</center>
</div>
