body {
	background-color: #F6F6F6;
	font-family: Nazanin;
	margin: 0px;
}

a {
	color: #D74;
	text-decoration: none;
}

a:hover {
	color: #E60;
}

a.blackback {
	color: #FFF;
	text-decoration: none;
}

a.blackback:hover {
	color: #DDD;
}

#wrapper {
}

.bar {
	padding-top: 4px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 0px;
}

#navbar {
	padding-top: 25px;
	padding-right: 70px;
	background-color: #E5E5E5;
	border-bottom: 1px solid #D9D9D9;
	color: gray;
	height: 65px;
}

#topbar { 
	background-color: #2D2D2D; 
	color: white;
	height: 28px;
}

#title {
	float: right;
}

#logo {
	float: right;
}

#footer {
}

#bottomhr {
	width: 50%;
	height: 1px;
	border-width: 0;
	background-color: #A2A2A2;
}

#copyright {
	color: #A2A2A2;
	margin: 0px;
	margin-bottom: 10px;
	text-align: center;
	direction: rtl;
}

.text {
	margin: 40px;
	margin-right: 80px;
	margin-left: 200px;
	direction: rtl;
}

.innertext {
	margin: 40px;
	margin-right: 200px;
	margin-left: 200px;
	direction: rtl;
}

.pm {
	direction: rtl;
	color: green;		   
}

.pmuns {
	direction: rtl;
	color: red;		   
}

#abouttext {
}

#extrabar {
	padding: 10px;
	padding-right: 80px;
	padding-left: 200px;
	font-size: X-large;
	direction: rtl;
	border-bottom: 1px solid #D9D9D9;
}

#information {
	padding-top: 5px;
	color: #A2A2A2;
	font-size: medium;
	float: left;
}

#userinfromation {
}

#examresult {
	direction: ltr;
}

#resulttable {
	width: 100%;
}

#registerdiv {
	direction: rtl;
}

#logindiv {
	direction: rtl;
}

#registerdiv {
	direction: rtl;
}

#addschooldiv {
	direction: rtl;
}

#submitdiv {
	direction: rtl;
}

.rtl {
	direction: rtl;
}

.linktosubmit {
	margin-top: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #D2D2D2;
	background-color: #F2F2F2;
	border-radius: 3px;
}

a.linktosubmit:hover {
	border: 1px solid #B2B2B2;
}

a.linktosubmitwide {
	margin-top: 5px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid #D2D2D2;
	background-color: #F2F2F2;
	border-radius: 3px;
}

a.linktosubmitwide:hover {
	border: 1px solid #B2B2B2;
}

input {
	direction: ltr;
}

.invis {
	visibility: hidden;
}

.option {
	background-color: #FAFAFA;
	font-size: X-small;
	text-align: center;
	border: 1px solid #555;
	border-radius: 10px;
	min-width: 30px;
	padding: 0px;
	cursor: pointer;
}

.optionselected {
	background-color: #151515;
	color: #F5F5F5;
	font-size: X-small;
	text-align: center;
	border: 1px solid #555;
	border-radius: 10px;
	min-width: 30px;
	padding: 0px;
	cursor: pointer;
}

.small {
	color: #555;
	font-size: X-small;
	text-align: left;
}

#testtable {
	background-color: #FFF;
	border: 1px solid #BBB;
	border-radius: 10px;
	direction: ltr;
}

#submissionstable {
	background-color: #E5E5E5;
	border: 1px solid #D9D9D9;
	border-radius: 7px;
	direction: rtl;
	text-align: center;
}

#admintable {
	background-color: #E5E5E5;
	border: 1px solid #D9D9D9;
	border-radius: 7px;
	direction: rtl;
	text-align: center;
}

tr.wrong {
        background-color: #FEE;
        color: #611;
}

tr.accepted {
        background-color: #EFE;
        color: #161;
}

tr.normal {
        background-color: #EEE;
        color: #444;
}

tr.caption {
        color: #444;
}

td.subtd {
	font-size: small;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
}

th.subtd {
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D9D9D9;
}

#resulttable {
	direction: rtl;
        min-width: 500px;
}

#userschool {
	width: 200px;
}

