$def with (data)
$var title: Accounts Page

    $# if not logged in, redirect to login, else, to accounts page
    <center>
    $session.uname
    <table border=1 cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
        <th>#</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Registration Time</th>
        <th>Email</th>
        </tr>
    $for i in data:
        <tr>
            <td><a href="/$i.uid">$i.uid</a></td>
            <td>$i.realname</td>
            <td>$i.username</td>
            <td>$i.created</td>
            $# FIXME: make the email spam proof
            $code:
                addr  = i.email.split('@')[0] + '+NOSPAM@' + i.email.split('@')[1]
                email = i.email.split('@')[0] + ' [at] ' + i.email.split('@')[1]
            <td><a href="mailto:$addr">$email</a></td>
            $# FIXME: some process to count shoots, accepted and total
        </tr>
    </tbody>
    </table>
    </center>
