$var title: Home

    <!--<header>به algorithms.ir خوش آمدید!</header>-->
    <input type="hidden" id="page" value="home">
    <article class="content" id="home">
        <center>
        <section class="content_buttondiv">
        <div class="content_minidiv" id="A">
            <div class="content_miniminidiv">
                <img src="/static/img/bigblack/problem.png" class="content_bigbutton" id="probs" 
                    onmouseover="showTooltip('home_tooltip','مساله ها')"
                    onmouseout="hideTooltip('home_tooltip')"
                    onclick="navigate('problem')">
            </div>
            <br /><br />
            <div class="content_miniminidiv">
                <img src="/static/img/bigblack/contest.png" class="content_bigbutton" id="events"
                    onmouseover="showTooltip('home_tooltip','مسابقات و لیگ')"
                    onmouseout="hideTooltip('home_tooltip')"
                    onclick="navigate('contest');">
            </div>
        </div>
        <div class="content_minidiv" id="B">
            <div class="content_miniminidiv">
                <img src="/static/img/bigblack/algorithm.png" class="content_bigbutton" id="algs" 
                    onmouseover="showTooltip('home_tooltip','الگوریتم ها')"
                    onmouseout="hideTooltip('home_tooltip')"
                    onclick="navigate('algorithm');">
            </div>
            <br /><br />
            <div class="content_miniminidiv">
                <img src="/static/img/bigblack/course.png" class="content_bigbutton" id="courses"
                    onmouseover="showTooltip('home_tooltip','درسنامه ها')"
                    onmouseout="hideTooltip('home_tooltip')"
                    onclick="navigate('course');">
            </div>
        </div>
        <div class="tooltip">
            <p class="tooltip" id="home_tooltip"></p>
        </div>
        </section>
        </center>
    </article>
