$def with (content)
<!DOCTYPE HTML>
<html>
<head id="html">
    <meta http-equiv='content-type'     content="text/html; charset=UTF-8">
    <meta http-equiv='content-language' content='en-US'>
    <link rel='copyright'   href="http://www.gnu.org/licenses/gpl.html">
    <title>$content.title</title>
</head>

<body>
    <table border=1>
        <tr>
            <td><a href=/>Accounts</a></td>
            <td><a href=/register>Register</a></td>
            <td><a href=/login>Login</a></td>
            <td><a href=/logout>Logout</a></td>
        </tr>
        <tr><td colspan=4>$:content</td></tr>
    </table>
</body>
</html>
