$def with (data)
$var title: Status

<article id="status">
    <center>
    <table cellpadding="0" cellspacing="0" class="default">
    <tbody>
        <tr class="zero">
        <th class="leftmost">#</th><th>username</th><th>problem</th>
        <th>language</th><th>date</th><th>status</th><th>time</th><th>memory</th>
        </tr>
    $for i in data:
        <tr class="$loop.parity">
            <td><a href="/algorithm/status/$i.subid">$i.subid</a></td>
            <td><a href="/accounts/status/$i.uid">$i.uid</a></td>
            <td><a href="/problem/status/$i.pid">$i.pid</a></td>
            <td>$i.lang</td>
            <td>$i.created</td>
            $# FIXME: we should setup a protocol for stat codes
            $code:
                if i.stat == 0:
                    x = 'yes'
                elif i.stat == 1 or i.stat == 2:
                    x = 'no'
                else:
                    x = 'none'
            <td class=$x ><a href="/algorithm/status/$i.subid">$i.stat</a></td>
            $# TODO: maybe we should color time/mmem exceeds?
            <td>$i.time</td>
            <td>$i.mmem</td>
        </tr>
    </tbody>
    </table>
    </center>
</article>
