{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Login to Algorithms.ir</title>
</head>
<body>
<div id="content-main">
    <form action="" method="post" id="login-form">
        {% csrf_token %}
        <table style="display: block;">
        {{ form }}
        </table>
        <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
        </div>
    </form>
</div>
</body>
</html>